<body>

  <div class="oishisou">
   <%= image_tag("ramen_kuroi.webp", class: "oishisou-img") %>
  </div>

     <div class="top2">
       <%= image_tag("ramen-icon.png", class: "top2-img") %>
    </div>




    <div class="sigoku">
    <p>あなたの至極の一杯を見つけます</p>
    </div>

    <div class="honbun">
        醤油・塩・豚骨・味噌</br>
        あらゆるラーメンから、今のあなたに</br>
        ぴったりの一杯をご案内します。
    </div>
    <div class="honbun1">
        そして見つけた至極の一杯を</br>
        他の人にシェアすることができる。</br>
        そんなサイトです。
    </div>
    
    <div class="top3">
        <%= image_tag("ramen_sankyoudai.png", class: "top1-img") %>
    </div>

        

    

</body>