// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signup-zentai{
    
text-align: center;
margin-top: 300px;


}

.ignup-zentai-kodomo{

    

}


.login-zentai{

    text-align: center;
    margin-top: 300px;

}

.mypage-zentai{

    
    margin-top: 30px;
    display: flex;

}

.mypage1{

    text-align: center;
    margin-top: 300px;
    margin-left: 10%;
    margin-right: 4%;
    margin-bottom: 5%;

}

.mypage2{
    text-align: center;
    margin-top: 300px;
    margin-left: 10%;
    margin-right: 4%;
    margin-bottom: 5%;
}

.mypage3{
    text-align: center;
    margin-top: 300px;
    margin-left: 10%;
    margin-right: 4%;
    margin-bottom: 5%;
}